<form>
 
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control col-xs-2"  [(ngModel)]="firstName" name="firstName">
    </div>
    <div>  
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" [(ngModel)]="age" name="age">
      </div>
      <div class="input-group mb-3">
        <label for="address.city" class="form-label">City</label>
        <input type="text" class="form-control"   [(ngModel)]="city"  name="address.city">

        <label for="address.street" class="form-label">Street</label>
        <input type="text" class="form-control"  [(ngModel)]="street" name="address.street">
      </div>
    <div class="mb-3">
      <label for="address.postalCode" class="form-label">Postal Code</label>
      <input type="text" class="form-control" [(ngModel)]="postalCode" name="address.postalCode">
    </div>
    <div class="mb-3">
        <label for="address.country" class="form-label">Country</label>
        <input type="text" class="form-control" [(ngModel)]="country" name="address.country">
      </div>
      
    <button type="submit" class="btn btn-primary" (click)="addPerson()" *ngIf="person.id==0">
      Add</button>
    <button type="submit" class="btn btn-primary" (click)="editPerson()" *ngIf="person.id!=0">
      Edit</button>


  </form>